body {
    color: #888;
    background-color: #fff;
    font-family: $fontstack;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

/* TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: $fonthead;
    font-weight: 700;
    margin: 20px 0;
}

a {
    color: #000;
    outline: 0;
    @include transition(.3s);
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
    &:focus {
        outline: 0;
    }
}

@each $weight in 200, 400, 600, 900 {
    .fw-#{$weight} {
        font-weight: $weight !important;
    }
}


.font-black {
    @extend .fw-900;
}

ul.styled {
    list-style: none;
    li {
        &:before {
            content: '';
            background: $main-color;
            display: inline-block;
            height: 5px;
            margin-right: 20px;
            vertical-align: middle;
            width: 5px;
        }
    }
}

#d-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $colordefault;
    z-index: 5000;
    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

#d-preload-dots:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}