@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
     -moz-transition: all $second ease-in-out;
      -ms-transition: all $second ease-in-out;
       -o-transition: all $second ease-in-out;
          transition: all $second ease-in-out;
}